.auth-main {
    padding-top: 0;
}

.auth-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.auth-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.auth-text {
    text-align: center;
    font-size: 20px;
    color: #2B1B16;
    font-weight: 700;
}

.auth-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.auth-links a {
    font-size: 12px;
    color: #555555;
}

