.form-field-container {
    margin-bottom: 10px;
}

.form-field-container:last-child {
    margin-bottom: 0;
}

/* input */
.form-field-input {
    display: block;
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    color: #333;
    font-size: 16px;
}

.form-field-input::placeholder {
    font-size: 14px;
}

/* input + 버튼 조합 */
.form-field-flex {
    display: flex;
    align-items: center;
}

.form-field-flex input {
    width: calc(100% - 100px);
}

/* 인증 버튼 */
.certification-button {
    width: 100px;
    height: 34px;
    background-color: #2B1B16;
    color: #fff;
    font-size: 12px;
    border-radius: 34px;
}