/************************************ 어드민 페이지 공통 */
.admin-main {
    max-width: 100%;
    padding: 80px 20px 20px 220px;
    background: #F8F8FA;
}

.admin-title {
    font-size: 35px;
    color: #2B1B16;
    margin-bottom: 30px;
}

.dashboard-layout {
    display: flex;
    gap: 20px;
}

.dashboard {
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
    border-radius: 15px;
    background: #fff;
}

.admin-title-ui {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.admin-title-ui__title {
    font-size: 20px;
    color: #000;
    font-weight: 600;
}

.admin-title-ui__more {
    font-size: 14px;
}

/*** 공통 테이블 ***/
.admin-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.admin-table tr {
    border-bottom: 1px solid #ddd;
}

.admin-table th {
    font-size: 13px;
    font-weight: 500;
    background: #f5f5f5;
    padding: 10px 0;
}

.admin-table td {
    font-size: 13px;    
    text-align: center;
    padding: 10px 0;
}

/* 재고 수량에 따른 css */
.admin-table td.normal {
    color: #3E7B58;
    font-weight: 600;
}

.admin-table td.lack {
    color: #ff0000;
    font-weight: 600;
}