.inventory-form {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.inventory-form__regi {
    font-size: 14px;
    color: #fff;
    background: #2B1B16;
    padding: 10px 16px;
    height: 40px;
}

.inventory-form__select {
    width: 200px;
    height: 40px;
    font-size: 14px;
    padding: 0 10px;
}

.inventory-form__input {
    width: 200px;
    height: 40px;
    font-size: 14px;
    padding: 0 10px;
}

.inventory-form__search {
    font-size: 14px;
    color: #fff;
    background: #2B1B16;
    padding: 10px 16px;
    height: 40px;
}

.inventory-regi-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    width: 500px;
    display: none;
}

.inventory-regi-modal__write {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    display: flex; 
    align-items: center;
    gap: 8px 10px;
}

.inventory-regi-modal__write.check {
    flex-wrap: wrap;
}

.inventory-regi-modal__label {
    font-size: 14px;
}

.inventory-regi-modal__input {
    font-size: 14px;
    padding: 0 10px;
    height: 40px;
    width: 200px;
}

.inventory-regi-modal__select {
    font-size: 14px;
    padding: 0 10px;
    height: 37px;
    width: 150px;
}

.inventory-regi-modal__number {
    font-size: 14px;
    padding: 0 10px;
    height: 34px;
    width: 80px;
}

.inventory-regi-modal__button {
    font-size: 14px;
    color: #fff;
    background: #2B1B16;
    padding: 10px 16px;
    height: 40px;
    display: block;
    margin: 30px auto 0;
}