.view-thum {
    border: 3px solid #2B1B16;
    border-radius: 10px;
    position: relative;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

.view-thum__image {
    width: 100%;
    height: 100%;
}

.view-thum__title {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: #2B1B16;
    margin-bottom: 2em;
}

.view-title {
    font-size: 16px;
    color: #2B1B16;
    font-weight: 500;
    margin-bottom: 10px;
}

.view-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 8px;
}

.view-option .text-body {
    color: #444444;
}

.view-option .text-body span {
    color: #4A87E3;
}

.view-option__quantity-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.view-option__button {
    height: 20px;
}

.view-option__input {
    width: 20px;
    border: none;
    text-align: center;
    outline: none;
    color: #2B1B16;
    font-size: 14px;
}

.view-option__input[type="number"] {
    -moz-appearance: textfield;
}

.view-option__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.view-option__input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.view-option__density {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view-detail {
    margin: 20px 0;
}

.view-detail__heading {
    font-size: 12px;
    word-break: keep-all;
    color: #444444;
    margin-bottom: 5px;
}

.view-detail__table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #2B1B16;
    border-bottom: 2px solid #2B1B16;
}

.view-detail__table tr {
    border-bottom: 1px solid #ddd;
}

.view-detail__table tr:last-child {
    border-bottom: none;
}

.view-detail__table th,
.view-detail__table td {
    width: calc(100% / 4);
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    padding: 5px;
}

.view-detail__table th {
    background: #F5F5F5;
}

.view-detail__text {
    font-size: 12px;
    color: #222;
    word-break: keep-all;
}

/* orderBar */
.order-bar {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.order-bar__options {
    display: flex; 
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 10px;
}

.order-bar__option {
    font-size: 14px;
    color: #444;
    position: relative;
}

.order-bar__option::before {
    display: inline-block;
    position: relative;
    content: '';
    top: -4px;
    left: 0;
    width: 4px;
    height: 4px;
    background: #444;
    border-radius: 50%;
    margin-right: 6px;
}

.order-bar__option:first-child::before {
    display: none;
}

.order-bar__form .view-option {
    margin: 0 0 15px;
}

.order-bar__price {
    font-size: 16px;
    color: #2B1B16;
    font-weight: 600;
}

.order-bar__btns {
    display: flex;
    align-items: center;
    gap: 7px;
}

.order-bar__btns button,
.order-bar__btns a {
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
}

.order-bar__button--cart {
    background: #ddd;
    color: #222;
    width: 80px;
}

.order-bar__button--order {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2B1B16;
    color: #fff;
    width: calc(100% - 87px);
}