.login_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - (3.334% * 2));
}

.login_Links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px
}

.login_Links a {
    font-size: 13px;
}